@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    /* --secondaryTextColor-dark:#adb0b1; */
    --secondaryTextColor-dark:#cbc8d0;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}

*{
    font-family: 'Readex Pro';
    line-height: 1.9em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    scroll-behavior: smooth;
}

body{
    background-color: var(--mainBgColor);            
}

img { max-width: 100%; height: auto; }

h1{
  font-size: 36px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 24px;
}


p, span,small,  li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

small{
  font-size: .8em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}

nav a{
  color:#adb0b1;
  font-size: 18px;
}

#menu--container{
  display: flex;
}

#menu--container a {
  margin: 0 1em;
}

#logo{
  width: 50px;
}


#github--logo{
  width: 60px;
}


#menu--container{
 
}
.container--main{
    max-width: 800px;
    margin: 0 auto;

}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

.line-break{
  background-color: var(--mainBorderColor);
  height: 1px;
}

.btn{
  border: 1px solid var(--mainBorderColor);
  color: var(--secondaryTextColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  display: flex;
  align-items: center;
  gap:5px;
  width: fit-content;
}

.btn--md{
  font-size: .9em;
}



#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 0;
}

#profile-pic{
  box-sizing: content-box;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: flex-start;
    column-gap: 2em;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom:1em;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

.course-preview{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2em;
  align-items: center;
}

.course-preview-image{
  display: block;
  border-radius: 10px;
  object-fit:cover;
  cursor: pointer;
}

.course-preview-image-border{
  padding: 3px;
  margin: 0;
  line-height: 0;
  border-radius: 10px;
  border: 1px solid var(--mainBorderColor);
}




.card--article-preview{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding:0.5em 0;
  border-bottom: 1px solid var(--mainBorderColor);
}

.card--article-preview strong{
  font-weight: 400;
}

.card--article-preview small{
  font-weight: 100;
}

.article-preview__body{
  display: flex;

  align-items: center;
}

.article-preview__body > h3{
 margin-right: 0.5em;
}


#navbar{
  display: flex;
  gap: 2em;
}

#navbar a{
  color: var(--secondaryTextColor);
  font-weight: 500;
  margin-bottom: 20px;
}

.astro-code{
  padding: 1em;
  border-radius: 10px;
  background-color: #0c0c0c!important;
  
}

.astro-code code{
  padding: 0;

  background-color: #0c0c0c!important;
}


code{
  background-color: #3d3d3d!important;
  padding: 2px 5px;
  border-radius: 5px;
}

blockquote{
  background-color: #0c0c0c!important;
  padding: .5em 1em;
  border-left: 5px solid #055f7a;
}

.astro-code span{
  font-family:monospace;
  font-size: 16px;
}


#winners--wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.winner--card{
  border: 1px solid var(--mainBorderColor);
  padding: 1em;
  border-radius: 10px;
  line-height: 1em;
  transition: 0.3s;

}

.winner--card:hover{
  border-color:var(--mainLinkColor);
}

.winner--card--header{
  display: flex;
  align-items: center;

}



.winner--avatar{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1em;
  border: 2px solid var(--mainBorderColor);
}

.winner--name, a{
  color: var(--mainTextColor);
  line-height: 1em;
  margin:0;
}



.winner--info{
  font-size: 13px;
}


@media(max-width:800px) {
  #winners--wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}



@media(max-width:600px){
  .container--main{
    padding: 1em;
  }
  

  #wrapper--hero{
      display: flex;
      align-items: center;
      gap: 1em;
      flex-direction: column;
  }

  #github--logo{
    display: none;
  }

  #profile-pic{
      width: 200px;
      height: 200px;
  }

  .course-preview{
    grid-template-columns: 1fr;
  }

  #winners--wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }


}