<nav>
    <a href="/">
        <img id="logo" src="/dennisivy_logo.png" />
    </a>

    <div id="menu--container">
        <a href="/#blog">Blog</a>
        <a href="/#events">Events</a>
        <a href="https://discord.gg/KTQywtJ8Sf" target="_blank">Discord</a>
    </div>

    <a href="https://github.com/divanov11/dennisivy.com" target="_blank">
        <img id="github--logo" src="/github.png" />
    </a>
</nav>