---
import profile_pic from '../images/profile_pic.jpg'
import femi from '../images/femi.png'
import '../styles/winners.css'
---

<section>
    <div id="winners"></div>
    <h3>Wall Of Winners</h3>
    <p>Meet the winners of previous hackathons. Each and every winner here poured their heart into their project and excelled beyond their peers. </p>

    <div id="winners--wrapper">

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src="https://pbs.twimg.com/profile_images/1565194670443208704/hD0twZgf_400x400.jpg"/>
                </div>
                <div>
                    <p class="winner--name">Praveen Kumar</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src="https://media.discordapp.net/attachments/991589402071543818/1015163728959918162/profile-photo.jpg?width=702&height=702"/>
                </div>
                <div>
                    <p class="winner--name">Ardash</p>
                    <small>Code Battle</small>
                </div>
            </div>
           
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src="https://toppng.com/uploads/preview/happy-emoji-11550171587aclhdkztf2.png"/>
                </div>
                <div>
                    <p class="winner--name">Sahil</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src="https://toppng.com/uploads/preview/happy-emoji-11550171587aclhdkztf2.png"/>
                </div>
                <div>
                    <p class="winner--name">Fifi</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={"https://toppng.com/uploads/preview/happy-emoji-11550171587aclhdkztf2.png"}/>
                </div>
                <div>
                    <p class="winner--name">Sudhanshu Prasad</p>
                    <small>Design Battle</small>
                </div>
            </div>
           
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={"https://media.discordapp.net/attachments/991589402071543818/1015163728959918162/profile-photo.jpg?width=702&height=702"}/>
                </div>
                <div>
                    <p class="winner--name">Ardash</p>
                    <small>Design Battle</small>
                </div>
            </div>
        </div>

        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={femi}/>
                </div>
                <div>
                    <p class="winner--name">Femi</p>
                    <small>Design Battle</small>
                </div>
            </div>
      
        </div>

    </div>
</section>